node_modules
logs/*.log
pids/*.pid

# Gulp output logging
.awspublish-workray-cdn

# main config file
config/config.js

# node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Debug log from npm
npm-debug.log

# Minified/concatenated/optimised assets
bundle.result.json
public
